Question 1 The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] • Sort the list and find the min and max age • Add the min age and the max age again to the list • Find the median age (one middle item or two middle items divided by two) • Find the average age (sum of all items divided by their number) • Find the range of the ages (max minus min)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]
print("Sorted ages:", sorted_ages)
print("Min age:", min_age)
print("Max age:", max_age)

# Add the min age and the max age again to the list
ages.extend([min_age, max_age])
print("Ages after adding min and max age:", ages)

# Find the median age
n = len(ages)
middle = n // 2
if n % 2 == 0:
    median_age = (sorted_ages[middle - 1] + sorted_ages[middle]) / 2
else:
    median_age = sorted_ages[middle]
print("Median age:", median_age)

# Find the average age
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

# Find the range of the ages
age_range = max_age - min_age
print("Age range:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max age: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median age: 24.0
Average age: 22.75
Age range: 7

Question 2
• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [ ]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'max'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 2

# Create a student dictionary and add the required keys
student = {
    'first_name': 'jacky',
    'last_name': 'jyo',
    'gender': 'Male',
    'age': 24,
    'marital_status': 'Single',
    'skills': ['Python', 'Data Analysis','java'],
    'country': 'USA',
    'city': 'New York',
    'address': '1000 downstreet '
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)

# Modify the skills values by adding one or two skills
student['skills'].extend(['Machine Learning', 'Deep Learning'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Print the results
print("Dog dictionary:", dog)
print("Student dictionary:", student)
print("Length of student dictionary:", student_length)
print("Skills value:", skills)
print("Skills data type:", skills_type)
print("Modified skills:", student['skills'])
print("Student dictionary keys:", student_keys)
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'max', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 2}
Student dictionary: {'first_name': 'jacky', 'last_name': 'jyo', 'gender': 'Male', 'age': 24, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis', 'java', 'Machine Learning', 'Deep Learning'], 'country': 'USA', 'city': 'New York', 'address': '1000 downstreet '}
Length of student dictionary: 9
Skills value: ['Python', 'Data Analysis', 'java', 'Machine Learning', 'Deep Learning']
Skills data type: <class 'list'>
Modified skills: ['Python', 'Data Analysis', 'java', 'Machine Learning', 'Deep Learning']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['jacky', 'jyo', 'Male', 24, 'Single', ['Python', 'Data Analysis', 'java', 'Machine Learning', 'Deep Learning'], 'USA', 'New York', '1000 downstreet ']

Question 3
• Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [ ]:
# Create a tuple containing names of your sisters and your brothers
sisters = ("Alexa", "kitty")
brothers = ("John", "William", "david")

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("siblings:",siblings)

# How many siblings do you have?
num_siblings = len(siblings)
print("Number of siblings:",num_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
father = "John"
mother = "Mary"
family_members = (father, mother) + siblings


print("Family members:", family_members)

siblings: ('Alexa', 'kitty', 'John', 'William', 'david')
Number of siblings: 5
Family members: ('John', 'Mary', 'Alexa', 'kitty', 'John', 'William', 'david')

Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:
# Given data
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
it_companies_length = len(it_companies)
print("Length of it_companies:", it_companies_length)

# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding Twitter:", it_companies)

# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(['LinkedIn', 'Snapchat', 'TikTok'])
print("it_companies after adding multiple companies:", it_companies)

# 4. Remove one of the companies from the set it_companies
it_companies.remove('Oracle')  # or use discard('Oracle')
print("it_companies after removing Oracle:", it_companies)

# 5. The difference between remove and discard
# remove() will raise a KeyError if the element does not exist in the set.
# discard() will not raise an error if the element does not exist.

# 6. Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# 7. Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# 8. Is A subset of B
A_subset_B = A.issubset(B)
print("Is A subset of B:", A_subset_B)

# 9. Are A and B disjoint sets
A_disjoint_B = A.isdisjoint(B)
print("Are A and B disjoint sets:", A_disjoint_B)

# 10. Join A with B and B with A (which is the same as A union B)
A_union_B_again = A | B
B_union_A = B | A
print("A union B again:", A_union_B_again)
print("B union A:", B_union_A)

# 11. What is the symmetric difference between A and B
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)

# 12. Delete the sets completely
del A
del B

# 13. Convert the ages list to a set and compare the length of the list and the set
age_set = set(age)
age_list_length = len(age)
age_set_length = len(age_set)
print("Length of age list:", age_list_length)
print("Length of age set:", age_set_length)

Length of it_companies: 7
it_companies after adding Twitter: {'Google', 'Apple', 'Oracle', 'Microsoft', 'Facebook', 'Twitter', 'IBM', 'Amazon'}
it_companies after adding multiple companies: {'Apple', 'Google', 'LinkedIn', 'Snapchat', 'Twitter', 'Amazon', 'Oracle', 'Facebook', 'TikTok', 'Microsoft', 'IBM'}
it_companies after removing Oracle: {'Apple', 'Google', 'LinkedIn', 'Snapchat', 'Twitter', 'Amazon', 'Facebook', 'TikTok', 'Microsoft', 'IBM'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B again: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

Question 5
The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area.

In [ ]:
import math

# Given radius
radius = 30

# 1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle with radius 30 meters:", _area_of_circle_)

# 2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle with radius 30 meters:", _circum_of_circle_)

# 3. Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2
print(f"Area of the circle with radius {user_radius} meters:", user_area_of_circle)

Area of the circle with radius 30 meters: 2827.4333882308138
Circumference of the circle with radius 30 meters: 188.49555921538757
Enter the radius of the circle: 6
Area of the circle with radius 6.0 meters: 113.09733552923255

Question 6
“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [ ]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Find the number of unique words
num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

Question 7
Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [ ]:
# Printing the lines with tab escape sequences
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 8
Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [ ]:
# Given radius
radius = 10

# Calculate the area of the circle
area = 3.14 * radius ** 2

# Use f-string to format the message
message = f"The area of a circle with radius {radius} is {area} meters square."
print(message)

The area of a circle with radius 10 is 314.0 meters square.

Question 9
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [ ]:
# Conversion factor from pounds to kilograms
lb_to_kg = 0.453592

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize the list to store weights in pounds
weights_lbs = []

# Read weights in pounds from the user
for i in range(N):
    weight = float(input(f"Enter the weight of student {i + 1} in pounds: "))
    weights_lbs.append(weight)

# Initialize the list to store weights in kilograms
weights_kg = []

# Convert weights to kilograms and store in the new list
for weight in weights_lbs:
    weights_kg.append(round(weight * lb_to_kg, 2))

# Print the original weights in pounds
print("Weights in pounds:", weights_lbs)

# Print the converted weights in kilograms
print("Weights in kilograms:", weights_kg)
12

Enter the number of students: 4
Enter the weight of student 1 in pounds: 8
Enter the weight of student 2 in pounds: 9
Enter the weight of student 3 in pounds: 10
Enter the weight of student 4 in pounds: 11
Weights in pounds: [8.0, 9.0, 10.0, 11.0]
Weights in kilograms: [3.63, 4.08, 4.54, 4.99]